.PokemonsColction {
  display: flex;
  flex-wrap: wrap;
}

.PokemonCard {
  min-width: 180px;
  min-height: 180px;
  margin: 20px;
  border: 5px solid ;
  background-color:#A68B2D;
  color: #593C31;
  cursor: pointer;
}

h2 {
  margin: 0px;
  padding: 10px;
}

.NextButton, .BeforeButton {
  margin: 0px 10px 10px;
  padding: 10px;
  font-size: 1em;
}

.pagesDiv {
  display: flex;
  justify-content: center;
  padding: 10px 0px 20px;
}

p {
  margin: 0px 10px;
  cursor: pointer;
}

h5 {
  margin: 0px 10px;
}

span {
  cursor: pointer;
}

.CurrentPage {
  color: blue;
  text-decoration: underline;
}
